/* start css app */
div.appsection {
    width: 100%;
    padding: 100px 78px;
    box-sizing: border-box;
    div.app {
      width: 100%;
      div:nth-of-type(1) {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        span {
          color: #023047;
          text-align: center;
          font-family: Raleway;
          font-size: 40px;
          font-style: normal;
          font-weight: 900;
          line-height: 120%;
        }
      }
      div:nth-of-type(2) {
        width: 100%;
        text-align: center;
        margin-bottom: 27px;
        span {
          color: #023047;
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 200%;
        }
      }
      div.downlod {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 30px;
        div.apple {
          all: unset;
          padding: 20px 31px;
          box-sizing: border-box;
          background-color: black;
          width: 310px;
          height: 100px;
          display: flex;
          flex-flow: row nowrap;
          gap: 14px;
          div:nth-of-type(1) {
            all: unset;
          }
          div:nth-of-type(2) {
            all: unset;
            color: #fff;
            text-align: center;
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 250%;
          }
        }
        div.samsung {
          padding: 20px 31px;
          box-sizing: border-box;
          background-color: black;
          width: 310px;
          display: flex;
          flex-flow: row nowrap;
          gap: 14px;
          height: 100px;
          div:nth-of-type(1){
              all: unset;
          }
          div:nth-of-type(2) {
            color: #fff;
            text-align: center;
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 250%;
          }
        }
      }
    }
  }
  /* end css app */
  